generated_files/*.pt
generated_files/*.xyz
generated_files/torsion*/slurm-*
generated_files/torsion*/submitted
generated_files/torsion*/*.sh

generated_files/torsion*/scr.*/*.dat
generated_files/torsion*/scr.*/*.xls
generated_files/torsion*/scr.*/*.molden
generated_files/torsion*/scr.*/*.basis
generated_files/torsion*/scr.*/*.restart
generated_files/torsion*/scr.*/mullpop
generated_files/torsion*/scr.*/*.geometry
generated_files/torsion*/scr.*/c0
generated_files/torsion*/scr.*/*.xyz